### IntelliJ ###
app/.idea

### Kotlin ###
.kotlin

### Gradle ###
.gradle

### Build files ###
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Database ###
*.db

### Ignored files ###
ignored/
